.article {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* TEST */
  max-width: 100%;

  max-width: 100vw;
  /* TEST */
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  z-index: 1000000;
}
